:root {
    --default: white;
    --dark: black;
}

body {
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* TODO: make the text look better */ /* Yes do that */
    padding: 0px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000, #000000, #1E90FF, #5F005F);
    background-attachment: fixed;
} 
html, body {
    min-height: 100%;
    height: auto;    
    }
.cass{
    color: #0099ff;
    position: fixed;
    font-size: 15px;
    top: 198px;
    left: 30px
    
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.header-container {
    display: flex;

}
.Ai {
    position: relative;
    bottom: 100px;
}
.ThaumielGif {
    position: absolute;
    border-radius: 30%;
    left: -80px;
    top: -85px;
}
.index {
    position: relative;
    top: 200px;
}
.title-container {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the title within the wrapper */
    font-size: 45px;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
}
@media only screen and (max-width: 768px) {
    .ThaumielGif {
        position: absolute;
        font-size: 45px; /* Reduce font size */
        top: -50px;
    }
}
/* Title styles */
.title {
    position: absolute;
    font-size: 45px;
    text-align: center; /* Center text inside the title */
    left: -100px;
    top: 30px;
}

/* Styles for devices with a max width of 768px (tablets and phones) */
@media only screen and (max-width: 768px) {
    .title {
        position: absolute;
        font-size: 45px; /* Reduce font size */
        top: 70px;
    }
}

/* Styles for devices with a max width of 480px (phones) */
@media only screen and (max-width: 480px) {
    .title {
        position: absolute;
        font-size: 45px; /* Further reduce font size */
    }
}
/* Title2 styles */
.title2 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the title within the wrapper */
    font-size: 15px;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
}

/* Styles for devices with a max width of 768px (tablets and phones) */
@media only screen and (max-width: 768px) {
    .title2 {
        font-size: 15px; /* Reduce font size */
        top: 38%;
    }
}

/* Styles for devices with a max width of 480px (phones) */
@media only screen and (max-width: 480px) {
    .title2 {
        font-size: 15px; /* Further reduce font size */
        top: 38%;
    }
}

.historytitle {
    position: relative;
    top: 35px;
    left: 25px;
    
}
.history {
    position: relative;
    top: 100px;
    left: 20px;
}
.bagtitle {
    position: relative;
    top: -35px;
    left: 205px;
}
.bagtext {
    position: relative;
    top: 100px;
    left: 20px;
}
.bagtext3 {
    position: relative;
    top: 100px;
    left: 20px;
}
.bag {
    left: 200px;
    position: relative;
}
.BagPFP {
    position: absolute;
    top: 50px;
    left: 50px;
    align-items: left;
    border-radius: 20%;
}
.theme-toggle {
    position: fixed;
    top: 90%;
    right: 1%;
    background: none; 
            border: none; 
            padding: 0; 
            cursor: pointer; 
}
.castext3 {
    position: absolute;
    top: 400px;
    font-size: 20px;
    left: 20px;
}
.cas {
    left: 200px;
    position: relative;
}
.castitle {
    position: relative;
    top: -35px;
    left: 205px;
}
.casPFP {
    position: absolute;
    top: 50px;
    left: 50px;
    align-items: left;
    border-radius: 20%;
}

.castext {
    position: relative;
    top: 100px;
    left: 20px;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 80%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 155%;
    }
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 125%;
    }
}

.oxanium-<Oxanium> {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.buttonstaff:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonsupport:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttoncontact:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttoncredits:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonbacktop:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonSuggestion:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonhistory:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonbacktop {
    position: absolute; top: 0; /* sets the button to the top of the page */
}
.buttonbackbottom:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonbackbottom {
    position: absolute; bottom: 0; /* sets the button to the bottom of the page */
}
.buttonbacktopstaff:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonbacktopstaff {
    position: absolute; top: 0; /* sets the button to the top of the page */
}
.buttonbackbottomstaff:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonbackbottomstaff {
    position: absolute; bottom: 0; /* sets the button to the bottom of the page */
}

button {
    font-family: bold "Oxanium", sans-serif;
    font-weight: 1000;
}
/*Button colors*/
.buttonhome {
    color: #ff21e1;
}
.buttonstaffback {
    color: #ffae00;
}
.buttonbacktop {
    color: #ffae00;
}
.buttonbackbottom {
    color: #ff5021;
}
.buttonbaguetter {
    color: orangered;
}
.buttoncassie {
    color: #3498db;
}
.buttonstaff {
    color: #0354eb;
}
.buttonsupport {
    color: rgb(255, 0, 0);
}
.buttoncontact {
    color: rgb(230, 0, 255);
}
.buttoncredits {
    color: #6709ff;
}
.buttonhistory {
    color:rgb(255, 0, 162)
}
.buttonSuggestion {
    color: rgb(86, 11, 226)
}

/* Staff buttons */
.buttonhome:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.buttonstaffback:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
body {
    transition: background-color 0.3s, color 0.3s;
}

    /* Light mode styles */
    body.light-mode {
        background-color: white;
        color: black;
    }

    /* Dark mode styles */
    body.dark-mode {
        background-color: black;
        color: white;
    }

#iframe-display {
    width: 450px;
    height: 250px;
    border: none;
    margin-top: -496px;
}
