body {
    margin: 0;
    height: 100vh;
    max-height: 1080px;
    min-height: 1080px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: linear-gradient(to bottom, #000000, #000000, #1E90FF, #5F005F);
    color: white;
    font-size: 25px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.content {
    position: absolute;
    top: 350px;
}

.oxanium-<Oxanium > {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: <2>;
    font-style: normal;
}
.button1:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.button2:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.button3:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.button4:hover {
    background-color: #1982EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

html 
{
  min-height: 100%;
}

button {
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
}
