body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: linear-gradient(to bottom, #000000, #000000, #1E90FF);
    color: white;
    font-size: 25px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.header-container {
    display: flex;
    flex-direction: column;
}
.content {
    position: absolute;
    top: 310px;
}
.oxanium-<Oxanium> {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: <2>;
    font-style: normal;
}
